:root {
    --colorOne: #022b3a;
    --colorTwo: #5e548e;
    --colorThree: #ec3f13;
    --colorFour: #fa5e1f;
    --colorFive: #ff7e33;
    --colorSix: #fdfdff;
    --colorSeven: #000000;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    background: var(--colorFive);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
  background: var(--colorOne);
  width: 400px;
  height: 700px;
  border-radius: 30px;
  box-shadow: 2px 4px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.container {
    margin: 5px;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--colorOne);
}

.header {
    display: block;
    margin-left: 8%;
}

.fa-solid {
    color: var(--colorFive);
}

h1, 
p {
    width: 80%;
    height: 30px;
    padding: 8px 10px;
    text-align: right;
    /* border: 5px solid black; */
    align-items: center;
}

h1 {
    font-size: 32pt;
    color: var(--colorSix);
}

p {
    font: 26pt;
    color: grey;
}

button {
    width: 40%;
    height: 70px;
    box-shadow: 2px 4px 5px black;
    background-color: var(--colorOne);
    border-style: none;
    border-radius: 10px;
    margin: 10px;
    color: var(--colorSix);
}

.row-one,
.row-two,
.row-three,
.row-four {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-equals {
    color: var(--colorSix);
}



.row-five {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#equals {
    background-color: var(--colorFive);
    width: 100%;
}

.buttons {
    /* border: 5px solid black; */
    margin: 5%;
    height: 70%;
}